NODE_ENV=development
APP_PORT=3000
JWT_SECRET=d0992ff522d86ebd9cecf0d4e62abfcdbc49d96a4294a4dfc94d51cf0ce03a4c
JWT_SECRET_ADMIN=d0992ff522d86ebd9cecf0d4e62abfcdbc49d96a4294a4dfc94d51cf0ce03a4c
IS_DEBUG=true
DRY_RUN=false

#local
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=admin
DB_NAME=booking

BACKEND_HOST=http://localhost:3010

CACHE_DRIVER=redis
CACHE_PREFIX=chat_v1_

WEB_APP_URL=http://localhost:5173

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# Multiple CORS domains (comma-separated)
CORS_ALLOWED_DOMAINS=http://localhost:3000

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
TEST_MAIL=true
SMTP_USER=test
SMTP_PASS=test